
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowAuction</h2>

<table>
    <tr>
        <td><p>Компания</p></td>
        <td>@ViewBag.auctionInfoVm.OrganizationName</td>
    </tr>
    <tr>
        <td><p>Описание</p></td>
        <td>@ViewBag.auctionInfoVm.Description</td>
    </tr>
    
</table>

